<div class="liz-animation-video  full-height shadow">
	<!--Descripción-->
	<div ng-if="isBottom" class="block">
		<div class="clearfix">
			<img src="../resources/common/iconoayuda.png" alt="ícono ayuda"/>
			<img ng-show="audio" class="icon-play-description"src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
			<!--aquí va lo que se ponga dentro de la directiva-->
			<div>
				<h1 ng-show="title">{{ title }}</h1>
				<p>{{ description }}</p>
			</div>
		</div>
	</div>

	<div ng-if="! isBottom && instruction" class="block">
		<div class="clearfix">
			<img src="../resources/common/iconoayuda.png" alt="ícono ayuda"/>
			<img ng-show="audio" class="icon-play-description"src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
			<img src="../resources/common/icono seleccion.png" alt="ícono seleccion"/>
			<span>{{ instruction }}</span>
		</div>
	</div>
	
	<!--audio-->
	<audio ng-if="audio" id="audio-instruction" preload="auto">
		<source src="{{ $root.resources + '/'  + audio + '.mp3' }}" type="audio/mpeg">
	</audio>

	<div class="vertical-align-inner">
		<div class="row animationVideoRow">
			<div class="col-md-9 animationVideo">
				<video id="animationVideo" preload="metadata">
					<source src="{{ $root.resources + '/' + item.videoSrc }}" type="video/{{ item.videoSrcType }}" />
				</video>
			</div>
			<div class="col-md-3 animationVideoBtnCont">
				<button type="button" class="btn btn-default animationVideoBtn" ng-click="playPause()" play="animationVideo" on="click">Inicio</button>
			</div>
		</div>
	</div>

</div> <!--/.liz-complete-table-inputs-->

<div ng-if="isBottom && instruction" class="block bottom">
	<p class="clearfix">
	<img ng-hide="priority" src="../resources/common/icono seleccion.png" alt="ícono seleccionar"/>
	<span>{{ instruction }}</span>
	</p>
</div>