<div class="home">

	<!--Descripción-->
	<div class="block">
		<div class="clearfix">
		
		</div>
	</div> <!--/.block-->

	<!--audio-->
	<audio id="audio-instruction" preload="auto">
		<source src="{{ $root.resources + '/'  + audio + '.mp3' }}" type="audio/mpeg">
	</audio>

	<div class="block-content clearfix {{ customClass }}">
		
		<div class="text-box">
			<img class="main-img"ng-show="mainimg" src="{{ $root.resources + '/'  + mainimg }}" alt="">
		</div> <!--/.text-box-->

		<div class="slideshow bg-3">
			<!-- slideshow-->
		    <div class="slides" slides items="items">
			    <img ng-repeat="item in images" src="{{ $root.resources + '/'  + item.src + ext }}" alt="{{ item.alt }}" title="{{ item.title ? item.title : '' }}">
  			</div>
   			<!-- End of slideshow -->
		</div> <!--/.items-->

	</div> <!--/.block-content-->
    <!--Descripción-->
    <div class="block bg-3 panel-M">
        <div class="clearfix">
            <div class="col-lg-12 center-items">
                <h1 class="fc-W">
                    {{title}}
                </h1>
            </div>
        </div>
    </div> <!--/.block-->

    <div class="block bg-1 panel-M">
        <div class="clearfix">
            <div class="col-lg-12 center-items panel-S">
                <h1 class="fc-W">
                    Panel 1
                </h1>
            </div>
            <div class="col-md-4" ng-repeat="item in items">
                <div class="panel panel-default">
                    <div class="panel-heading inline-block">
                        <div class="col-xs-8"><h2><i class="fa fa-fw fa-check"></i>{{ item.property4 }}</h2></div>
                        <h1><span class="label label-success">Hora: {{item.property1}}</span></h1>
                        <span class="label label-warning ">Lugar: {{item.property2}}</span>
                    </div>
                    <div class="panel-body">
                        <p>{{item.property3}}</p>
                        <a href="{{item.link}}" class="btn btn-default btn-lg">Más info</a>
                        <span ng-show="{{item.property5}}" class="label label-danger float-right">{{item.property5}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--/.block-->
    <div class="block bg-4 panel-M">
        <div class="clearfix">
            <div class="col-lg-12 center-items panel-S">
                <h1 class="fc-W">
                    Panel 2
                </h1>
            </div>
            <div class="col-md-4 col-sm-6" ng-repeat="item in items">
                <div class="panel panel-default text-center">
                    <div class="panel-heading inline-block">
                       <h2><i class="fa fa-fw fa-check"></i>{{ item.property2 }}</h2>
                       <h1><span class="label label-success">Hora: {{item.property1}}</span></h1>
                    </div>
                    <div class="panel-body">
                         <div><span class="label label-warning ">Lugar: {{item.property4}}</span></div>
                         <p>{{item.property3}}</p>
                        <a href="#" class="btn btn-primary">Más info</a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--/.block-->
<div class="panel-group" id="accordion">
  <div ng-repeat="item in collapse" class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="cursor-pointer"collapse collapse-parent="#accordion"  collapse-target="#{{$index}}">
          {{item.title}} {{$index}}
        </a>
      </h4>
    </div>
    <div id="{{$index}}" class="panel-collapse collapse">
      <div class="panel-body">
        {{item.text}}
      </div>
    </div>
  </div>
</div>
        <!-- Service Tabs -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Service Tabs</h2>
            </div>
            <div class="col-lg-12">

		        <!-- Button to trigger modal -->
				<a  role="button" class="btn btn-primary" ng-click="showModal('hola','subtitulo','Continuar')" data-toggle="modal">Launch demo modal</a>
				 
				<!-- Modal -->
				<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel">Modal header</h3>
				  </div>
				  <div class="modal-body">
				    <p>One fine body…</p>
				  </div>
				  <div class="modal-footer">
				    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				    <button class="btn btn-primary">Save changes</button>
				  </div>
				</div>
		    </div>
	    </div>


</div> <!--/.liz-slideshow-characrter-->
<div class="block bg-1">
  <div class="clearfix">
  
  </div>
</div> <!--/.block-->

<!-- MODALS -->
<div ng-show="success">
    <div data-congratulations></div>
</div>

<div ng-show="failure">
    <div data-failure></div>
</div>