<div class="overlay">

    <div class="course-modal">
        <div class="course-modal-title">
            Inténtalo de nuevo
        </div>
        <div class="course-modal-content">
            <p>Vuelve a intentarlo hasta que logres hacerlo bien</p>
            <div class="animation-container-failure over-flow-hidden">
                <img class="img-responsive layer-cong" src="../resources/common/failure.png" alt="imagen de vuelve a intentarlo"/>
                <img class="img-responsive layer-cong fade_in4" src="../resources/common/failure2.png" />
                <img id="sad-face" src="../resources/common/failure1.png" />
            </div>
            <div class="text-center congratulations-button">
                <button class="btn-primary" ng-click="refresh()">Continuar</button>
            </div>
        </div>
    </div>
</div>