<div class="shadow full-height">
	<div class="block">
		<p class="clearfix">
		<img src="../resources/common/iconoayuda.png" alt="ícono mouse"/>
		<img src="../resources/common/icono seleccion.png" alt="ícono mouse"/>
		<span>Da clic en el animal que corresponde a tu grupo, para ingresar a tus actividades.</span>
		</p>
	</div>

	<div>
		<div class="icon-group" ng-click="setGroup(GROUPS.BEARS)">
			<img class="img-responsive" src="../resources/common/iconoosos.png" alt="ícono de osos - grupo">
		</div>

		<div class="icon-group" ng-click="setGroup(GROUPS.TIGERS)">
			<img class="img-responsive" src="../resources/common/iconotigres.png" alt="ícono de osos - grupo">
		</div>

		<div class="icon-group" ng-click="setGroup(GROUPS.LIONS)">
			<img class="img-responsive" src="../resources/common/iconoleones.png" alt="ícono de osos - grupo">
		</div>
	</div>
</div>

