<link rel="stylesheet" type="text/css" href="../app/styles/common/senales.css" />
<div class="click-images shadow clearfix" ng-class="isBottom ? '' : 'full-height'">
  <div class="block">
    <div class="clearfix ">
     <div class="lasthelp">
        <img src="../resources/common/iconoayuda.png" alt="ícono ayuda"/>
      <span class="tooltip5" ><img style="width: 102%;" class="img-rounded" src="../resources/common/ayuda.gif" /></span>
     </div>
      <div class="lastear">
        <img class="icon-play-description" src="../resources/common/icono-oido.png" alt="ícono escuchar" play="audio-instruction" on="click"/>
           <span class="tooltip6" ><img style="width: 102%;" class="img-rounded" src="../resources/common/sonido.gif" /></span>
      </div>
      <div class="lwt">
         <img src="../resources/common/icono seleccion.png" alt="ícono mouse"/>
          <span class="tooltip5"><img style="width: 102%; " class="img-rounded" src="../resources/common/click.gif" /></span>

      </div>
      <div>
        <p>
          Para continuar en la última actividad realizada, haz clic en el siguiente botón.
          Si deseas comenzar nuevamente la lección, haz clic en la flecha para adelantar.
        </p>
      </div>
    </div>
  </div>

  <!--audio-->
  <audio id="audio-instruction" preload="auto">
    <source src="../resources/common/last_route.mp3" type="audio/mpeg">
  </audio>

  <div class="block-conten last" style="display: flex; align-items: center; justify-content: center; min-height: 360px;">
    <button ng-click="goToLastVisited()" class="btn-primary ">Ir a la última actividad</button>
    <span class="tooltip4"><img class="img-rounded" src="../resources/common/Enlace hacia ir_ultima_Actividad.gif" /></span>
  </div>
</div>

