.liz-animation-video {

	.animationVideoRow {
		padding: 50px 80px;
		position: relative;	

		.animationVideo {

			& > video {
				width: 74%;
				display: table;
				margin: auto;	
			}
		}

		.animationVideoBtnCont {
			position: absolute;
			bottom: 50px;
			right: 0;

			.animationVideoBtn {
				border: 2px solid #005300 !important;
				background-color: #009500 !important;
				color: #FFFFFF !important;
				min-width: 120px;
				font-size: 20px;
				padding: 8px;
			}
		}
	}
}